includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 4
    paths:
        - app
        - routes
        - tests
        - resources
    ignoreErrors:
    excludePaths:
        - routes/console.php
        - tests/Feature/ExampleTest.php
